.td {
  width: 120px;
  height: 30px;
  border: 1px solid grey;
  background-color: lightgray;
  text-align: center;
}
.wideTd {
  width: 170px;
}
.narrowTd {
  width: 90px;
}
.boxTable {
  padding: 25px;
}
input {
  width: 130px;
  height: 30px;
  padding: 0 4px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

input:focus {
  outline: 0px;
}
input[type="checkbox"] {
  width: auto;
  height: auto;
  padding: 0;
}
.warn {
  color: red;
  font-size: 12px;
}
